* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  position: relative;
}

@font-face {
  font-family: "Logo";
  src: url(./font/AutumnFlowers-9YVZK.otf);
}
.logo {
  font-family: "Logo";
  font-size: 50px;
  color: #fbfcfc;
  text-shadow: 3px 3px black, 0 0 20px #503d50;
  position: absolute;
  left: 32vw;
  top: 10vh;
}
.image1 {
  width: 45vw;
  position: absolute;
  bottom: 1px;
  display: block;
  right: 29vw;
}
.image2 {
  width: 55vh;
  position: absolute;
  left: 0;
  bottom: 0;
}
.image3 {
  width: 43vh;
  position: absolute;
  left: 2vw;
  top: -5vh;
}
.TheChibi {
  position: absolute;
  bottom: 0;
  right: 0vw;

  border-radius: 10px 10px 0 0;
  display: flex;
}

.chibi {
  width: 30vh;
  border: 5px solid #bb9db8;
  border-radius: 10%;
  margin: 1px 0px 0px -2px;
}
#TheTop {
  bottom: 64vh;
}
#TheCool {
  bottom: 32vh;
}
#TheChibi {
  bottom: 0;
}

.margin {
  margin: 10px 0;
}

.icon {
  position: absolute;
  width: 75px;
  top: 10vh;
  left: 55vh;
}
